/* custom styles */

html {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'quicksand';
    font-size: 14px;
    font-weight: 450;
    margin: 0px;
}

*{
    box-sizing: border-box;
}

h2 {
    background-color: #222;
    /*height: 30px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    color: white;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
    border-radius: 3px;
  }

#uploadBox {
    background-color: white;
    height: 90px;
    padding: 10px;
    color: #222;
}

body {
    background-color:#dfdfdf;
    padding: 0px;
  }

svg {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
}

option {
    font-weight: 450;
    font-family: inherit;
    font-size: inherit;
}

.control-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*text-align: center;*/
    margin: 10px;
    /*vertical-align: middle;*/
}

.flex-container {
    display: flex;
    padding: 0;
    margin: 0;
    height: 93vh;
    list-style: none;
}

.flex-item {
    padding: 5px;
    margin: auto;
    /*margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;*/
    flex-grow: 1;
}

.Select-control {
    display: block;
    float: left;
    /*width: 495px;*/
    /*height: 25px;*/
    min-width: 30%;
    /*width: 20%; */
    height: 40px; 
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    /*font-size: 20px;*/
}

.noUi-connect {
    background: lightgrey;
}

.slider{
    height: 20px;
    width: 300px;
    margin-left: 0px;
    margin-right: 20px;
}

.links{
    font-family: inherit;
    font-size: 12px;
    font-weight: inherit;
}

.nodes{
    font-family: inherit;
    font-size: 12px;
    font-weight: inherit;
}

.panel {
    height: inherit;
    margin: auto;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
    border-radius: 3px;
    vertical-align: top;
    margin: 5px;
}

#controls {
    width: 20vw;
}

#control-section{
    background: white;
    border: thin solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
    cursor: pointer;
    /*font-size: 12px;*/
    /*font-weight: 600;*/
    padding: 10px;
    margin: 10px;
}

#sankeyChart {
    flex-grow: 2;
    padding: 30px;
    /*width: 100%;*/
}

.flex-item-output {
    overflow: auto;
    width: 70px;
    height: 40px; 
    display: flex;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: 5px;
    margin-left: -10px;
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-color: rgb(169, 169, 169);
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    font-family: inherit;
    font-size: inherit;
    text-align: left; 
    align-items: center; 
    /*justify-content: center;*/
}

#ratio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#ratio-name1{
    width: 250px;
}

#ratio-name2{
    width: 250px;
}

label{ 
    display: inline-block;
}

