<!doctype html>
<meta charset="utf-8"/>
<head>
    <link rel="shortcut icon" src="../static/favicon.ico"/>
    <!--<link rel="stylesheet" href="https://unpkg.com/react-vis/dist/style.css">-->
    <!--react vis stylesheet-->
    <link rel="stylesheet" src="../static/css/typeface-quicksand/index.css"/>
    <link rel="stylesheet" src="../static/css/style.css">
    <link src="../static/css/nouislider/distribute/nouislider.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" src="../static/css/styleCustom.css">
    <title>Data Explorer</title>
</head>
<h2 id="print">Supervisory Data Explorer</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}